
 a{
	color: white;
	border: none;
	outline: none;
}
.m02-1 a,.d-03-01 a{
	color: black;
}
.header .tuichu
{
	float: right;
    font-size: 20px;
   width: 180px;
   height: 38px;
   margin-top: 100px;
   margin-right: 25px;
    
}
.m01{
	line-height: 55px;
	text-align: center;
	float: left;
	width:145px;
	height: 100%;
}
#m-02{
	line-height: 55px;
	text-align: center;
	float: left;
	width:160px;
	height: 100%;

	
	
}
/* 页脚文本 */

.footer p 
{
	margin-left: 135px;
    color:#8cadd6;
    margin-top: 35px;
    font-size: 14px;
    font-family: '宋体';
  
}
.menu{
	float:left;
	width: 100%;
	height: 55px;
	background-color: rgb(80,155,238);
	margin-top:5px;
	font-size: 27px;
	font-weight: bold;
    color:white ;	
}
.footer{
	float: right;
	width: 100%;
	height: 100px;
	margin-top: 80px;
	
}
.f1{
	float: right;
	width: 100%;
	height: 70px;
	background-color: #eef3f9;
	
}
.footer a{
	color: #8fabda;
	
}
a:link{ 
 text-decoration:none;  /*超链接无下划线*/ 
} 

#fuhe{
	background-image: url(../img/kuailan.png);
	
}
#data_one{
	margin-left: 5px;
	width: 47%;
	float: left;
	
}
#data_two{
float: right;
padding-right: 1px;
width: 48%;
	
}
.m02-1{
	
	margin-top: 5px;
	width: 100%;
	float: right;
	height:70px ;
			background-image: url(../img/xiantiaoa.png);
	background-repeat: no-repeat;
	background-position:0px 65px;
	
}

	
.m02-1-1{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	float: left;
	width: 150px;
	height: 35px;
}
.d-03-01-01{
	text-align: center;
	font-size: 20px;
	float: left;
	width: 110px;
	height: 35px;
}



#data_two td{
	font-family: "楷体";
}
.m02-2{
	float: right;
	width: 100%;
	
}
.m02-2-1{
	line-height: 32px;
	float: left;
	width: 100%;
	height: 35px;
	 font-family: "楷体";
	  font-size: 20px; 
	  font-weight: bold; 
}
.m02-2-2{
	border-bottom: 1px #e6e6e6 solid;
	text-align: center;
	line-height: 43px;
	float: left;
	width: 100%;
	height: 40px;
	 font-family: "楷体";
	  font-size: 18px; 
}
.d3-t{
	text-align: left;
	float: left;
	margin-left: 20px;
	width: 260px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.d3-s{
	text-align: left;
	float: left;
	margin-left: 15px;
	width: 30px;
	
}
.d3-1{
	float: left;
	margin-left: 25px;
	width: 40px;
}
.d3-2{
	float: left;
	margin-left: 28px;
	width: 80px;
}
.d3-bg1{
	background-image:url(../img/t-arr1.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.d3-bg2{
	background-image:url(../img/b-arr.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.m02-2-bg{
	  background-color: rgb(247,247,247);
}

.m02-2-2 div{
	float: left;
}

#data_three{

	margin-left: 5%;
	width: 42%;
	float: left;
	
	
}
.d-03-01-02{
	margin-left: 1px;
	text-align: center;
	font-size: 20px;
	float: left;
	width: 70px;
	height: 35px;
}
.d-03-01-03{
	margin-left: 1px;
	text-align: center;
	font-size: 20px;
	float: left;
	width: 138px;
	height: 35px;
}
.d-03-02-01{
	float: left;
	margin-left: 20px;
	width: 60px;
	background-image: url(../img/huisanjiao01.png);
	background-repeat: no-repeat;
	background-position:right center;
}

.data_four{

margin-right: 3%;
float:right; 
width: 45%;
background-image: url(../img/xiantiaoa.png);
background-repeat: no-repeat;
background-position-y: 65px;
}

#data_five{
	padding-top: 20px;
	margin-left: 5%;
	width: 42%;
	float: left;

	}


#shijian{
	margin-top: 25px;
	height:130px;
    line-height:120px;
	font-size:32px;
	text-align: center;
	
}
#tupian1{
	width: 250px;
	height:83px;
	background-image: url(../img/kuailan.png);
	background-repeat:no-repeat;
		margin:5px;border:0;padding:0;

	
}
#tupian2{
	background-image: url(../img/kuaicheng.png);
	background-repeat:no-repeat;
	width: 250px;
	height:83px;
		margin:5px;border:0;padding:0;
	
}
.aril{
	font-size: 20px;
	font-family: "arial";
	float: right;
	margin-right:20px;
	margin-top:30px;
	color:white;

}
.songti{
	font-size: 35px;
	font-family: "宋体";
	float: left;
	margin-left:20px;
	margin-top:22px;
	color:white;
	font-weight: bold;
	
}
#zhibiao{
	width: 100%;
	margin-top: 30px;
    padding-top: 3%;
	background-image: url(../img/xiantiaoa.png);
	background-repeat: no-repeat;
	background-position:0px 65px;
}
#tupian3{
	background-image: url(../img/kuaifen.png);
	background-repeat:no-repeat;
		width: 250px;
	height:83px;
		margin:5px;border:0;padding:0;
	}
#tupian4{
	background-image: url(../img/kuailv.png);
	background-repeat:no-repeat;
		width: 250px;
	height:83px;
	
	margin:5px;border:0;padding:0;
}
.daohang{
	float: left;
	border: 1px #e3e3e3 solid;
	background-color: #f9f9f9;
	width: 97%;
	height:185px;
	margin-top:15px;"
}
.data01-01{
	width: 20%;
	float: left;
	text-align: center;
	font-size: 19px;
	
}
#shishi{
margin-top: -35%;
margin-left: 8%;
}

#shishi1{
margin-top: -35%;
margin-left: 4%;
}
#wm{
	padding-left: 100px;
	padding-top: 10px ;
color: white;
	
}
#icon01{
	background-image: url(../img/icon01_dianchang.png);
	background-repeat:no-repeat;
	width: 60px;
	height: 60px;
	margin:5px;border:0;padding:0;
}
#tr1{
	background-color:#f2f2f2;

	
}
#hhe{
	height: 50px;
	background-image: url(../img/xiantiaoa.png);
	background-repeat: no-repeat;
	background-position-y:30px;
}
#hhe4{
	height: 50px;
	background-image: url(../img/xiantiaoa.png);
	background-repeat: no-repeat;
	background-position-y:50px;
}
#hhe5{
	height: 50px;
	background-image: url(../img/xiantiaoa.png);
	background-repeat: no-repeat;
	background-position-y:45px;
}

.td1{
	border:1px solid lightgray;
	float: left;
	width: 40%;
	margin-left: 5%;
	background-image: url(../img/se01.png);
	background-repeat: no-repeat;
	
}
#td2{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se02.png);
	background-repeat: no-repeat;
	
}

#td3{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se03.png);
	background-repeat: no-repeat;
	
}

#td4{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se04.png);
	background-repeat: no-repeat;
	
}

#td5{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se05.png);
	background-repeat: no-repeat;
	
}

#td6{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se06.png);
	background-repeat: no-repeat;
	
}

#td7{
	border:1px solid lightgray;
	float: left;
	width: 40%;
		margin-left: 5%;
	background-image: url(../img/se07.png);
	background-repeat: no-repeat;
	
}

.td8{
		border:1px solid lightgray;
	float: right;
	width: 40%;

	background-image: url(../img/se08.png);
	background-repeat: no-repeat;
	
}

#td9{
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se09.png);
	background-repeat: no-repeat;
	
}

#td10{
	
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se10.png);
	background-repeat: no-repeat;
	
}

#td11{
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se11.png);
	background-repeat: no-repeat;
	
}

#td12{
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se12.png);
	background-repeat: no-repeat;
	
}

#td13{
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se13.png);
	background-repeat: no-repeat;
	
}

#td14{
		border:1px solid lightgray;
	float: right;
	width: 40%;
	background-image: url(../img/se14.png);
	background-repeat: no-repeat;
	
}
#gongzuo {
background-image: url(../img/xiantiaoa.png);


}
#gongzuo a{

width: 33px;
height: 17px;
background-image: url(../img/more.png);
background-position-x:0px;
}
#a_5 {
text-align: center;
  height: 17px;
  background-image: url(../img/more.png);
  width: 33px;
  height: 17px;

}
#td01{
		background-image: url(../img/yuan1.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
	
}
#td02{
		background-image: url(../img/yuan2.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
	
}
#td03{
		background-image: url(../img/yuan3.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
	
}
#td04{
		background-image: url(../img/yuan4.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
	
}
#td05{
		background-image: url(../img/yuan5.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
	
}
#td06{
		background-image: url(../img/yuan6.png);
	background-repeat: no-repeat;
	background-position-x: 4%;
}

#ex01{
	width: 50px;
	height:20px;
	background-image: url(../img/tuichu.png);
	background-repeat: no-repeat;
	padding-left: 23%;
	top: 20px;
	color: red;
	font-family: "微软雅黑";
	font-size: 18px;

	text-decoration: none;
}
#data2{
	float: left;
	width: 100%;
	height: auto;
	
}
.tdn{
	width: 200px;
	position: relative;
	left: 4px;
	
}
.tdn2{
	margin-right: 10%;
	float: right;
}

 #menu ul a {
	color: white;
	
}
.d-03{
	width:100%;
	margin-top: 30px;
	float: left;
	  height:410px;

	
}
.d-03-01{
	float: left;
	width: 100%;
	height:40px;
	background-image: url(../img/xiantiaoa01.png) ;
	background-position:0px bottom ;
	background-repeat: no-repeat;
}
.d-03-02{
	float: left;
	width: 48%;

}
.d-03-03{
	float: right;
	width: 48%;
	padding-right: 1px;

}

