<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="piServer" class="com.lmax.piwebclient.PIServer">
		<constructor-arg><value>http://172.168.100.103:9999</value></constructor-arg> 
		<property name="username" value="test" /> 
    	<property name="password" value="test" /> 
	</bean>
	<bean id="springTool" class="com.xzsoft.util.SpringTool"></bean>
</beans>
