<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	     http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://www.springframework.org/schema/tx
	     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	     http://www.springframework.org/schema/aop 
	     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 <!--报警信息短信提醒-->  
	<bean id="Mobile" class="com.xzsoft.xz.mobile.Mobile"/>
	<bean id="jobDetailbaojing" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="Mobile"/>
		</property>  
    	<property name="targetMethod">
    	    <value>SendBjxxSms</value>
    	</property>
    	
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>

 <!--机组启停短信提醒--> 
	<bean id="JzqtMobile" class="com.xzsoft.xz.mobile.JzqtMobile"/>
	<bean id="jobDetailsend" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
		    <ref bean="JzqtMobile"/>
		</property>  
    	<property name="targetMethod">
    	    <value>SendJzqtSms</value>
    	</property>
    	<property name="concurrent">
    	   <value>false</value>
    	 </property>
	</bean>
	
	<!--报警信息短信提醒-->  
	<bean id="testTriggerbaojing" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailbaojing"/>  
       <property name="cronExpression" value="0 0/1 * * * ?"/> <!-- 每1分钟执行一次   -->
	</bean>

	<!--机组启停短信提醒--> 
	<bean id="testTriggersend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
       <property name="jobDetail" ref="jobDetailsend"/>  
       <property name="cronExpression" value="0 0/1 * * * ?"/> <!-- 每1分钟执行一次   -->
	</bean>
	

	<bean id="sendnotice" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" >  
        <property name="triggers">
            <list>  
               <ref bean="testTriggerbaojing"/>  <!--报警信息短信提醒--> 		
				<ref bean="testTriggersend"/>  <!--机组启停短信提醒--> 
            </list>   
    </property>  
</bean>     
</beans>