html{background:#ffffff;}
* { margin: 0; padding: 0; font-family: 微软雅黑; }
ul { list-style: none; }
a { text-decoration: none; color: #000000; }
::-webkit-input-placeholder { /* WebKit browsers */
color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #999;
}
#choose { outline: none; display: none; }
body { min-width: 960px; }
.fengge { clear: both; display: block; font-size: 1px; line-height: 1px; height: 0.1px; margin: 0; padding: 0; }
.wu_top { position: fixed; top: 0; left: 0; width: 100%; min-width: 960px; height: auto; }
.wu_top0 { float: left; width: 100%; height: 20px; background: #ffffff; }
.wu_left { position: fixed; left: 1%; top: 20px; width: 14%; min-width: 135px; height: 94%; border: 1px solid #ECECEC; }
/* 超链接 */
.st_tree { width: 94%; margin: 10px auto; overflow: auto; }
.st_tree a { text-decoration: none;white-space: nowrap;}
/* 鼠标经过的超链接 */
.st_tree a:hover { color: #f33; text-decoration: underline; }
/* 菜单 */
.st_tree ul { padding: 0 0 0 18px; margin: 0; }
/* 菜单项 */
.st_tree ul li { font-size: 13px; color: #222; line-height: 18px; cursor: pointer; list-style: none; background: url(../img/st_node.gif); background-repeat: no-repeat; padding: 0 0 3px 20px; }
/* 子菜单 */
.st_tree ul li ul { }
/* 子菜单项 */
.st_tree ul li ul li { }
/* 子菜单的父节点 */
.st_tree .folder { list-style-image: url(../img/st_icon.png); background: url(../img/st_folder.gif); background-repeat: no-repeat; padding: 0 0 0 20px; }
/* 展开的父节点 */
.st_tree .open { list-style-image: url(../img/st_icon_open.png); background: url(../img/st_folder_open.gif); background-repeat: no-repeat; padding: 0 0 0 20px; }
.wu_top1 { float: right; display: inline; width: 83%; min-width: 796.8px; height: 20px; margin: 0 1% 0 0;  line-height: 36px; text-align: center; font-size: 13pt; }
.wu_top1b { float: left; display: inline; width: 60px; height: 20px; margin: 5px 0 5px 10px; text-align: center; font-size: 11pt; color: #ffffff;  border: 0; border-radius: 5px; cursor: pointer; vertical-align: middle; }

.wu_main { float: right; display: inline; width: 83%; height: auto; margin: 20px 1% 20px 0; border: 1px solid #ECECEC;  }
