@charset "utf-8";
/*解决IE10  屏幕的宽度 和 视口（viewport）的宽度 进行区分*/
@-ms-viewport       { width: device-width; }
/*公用*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.left{float: left}
.right{float: right}
html,body{
    font-size: 12px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0;
    float: left;
    padding-left: 0;
}
/*为IE7 做的兼容==*/
ul{
    list-style: none;
    padding:0;
    margin:0;
}
/*end==*/

input[type='checkbox']{
    width: auto;
    display: inline-block;
    margin-top: -3px ;
}
.btn-info{
    margin:10px 0 -13px 20px;
}
/*index==============================================================*/
/*header========*/
header{background: #343434;}
header .container{height:30px;  }
.container{
    width: 800px!important;
    margin:0 auto;
    height:670px;
}
.h670{
   height:670px;
}
.baobiao_left{
    height:723px;
    width:163px;

}
.baobiao_left1 {
    border-radius: 7px;
    border:1px solid #e1e1e8;
    margin: 21px 0 0 90px;

    width: 124px;

    font-size: 28px;
    padding:141px 0 145px 0;
    background: #2FB4AF;
}
.baobiao_left1 span{
    text-indent: 38px;
    display: inline-block;
    font-weight: 100;
    color:#fff;
}
.baobiao_right{
    width:637px;
    height: 723px;

}
.wu_left {
    position: fixed;
    padding-top: 10px;
    height:94%;
    left: 1%;
    width: 14%;
    min-width: 135px;
    border: 1px solid #ECECEC;
    z-index: 11;
    margin-top: 1%;
    overflow: auto;

}
.right_right{
    width: 512px;
    height: 363px;
    margin-left:15px;
    border-radius:7px;
    background: #f3f3f3;
}
table{
    border-collapse: separate;
    border-spacing: 17px 23px;
}
table.table2{
    border-spacing: 17px 37px;
}

.right_top1{
    margin-top: 56px;
    height:86px;
}

/*common*/
.right_top{
    margin-top: 20px;
}


.right_tit{
    padding: 28px 82px;
    font-size:30px;
    margin-left: 200px;
}
.b_color{
    border:1px solid #D6C3C3;
}
.right_tit1{
    margin: 49px 0 0 22px;
    padding: 9px 22px;
}
.b_radius{
    border-radius: 5px;
}
.right_main{
    margin-top: 20px;
    height:500px;
    border: 1px solid #ccc;
}
table a.btn{
    padding:15px;
}
.common_table a.btn{
    height: 35px;
    width: 133px;
    vertical-align: middle;
}
.lh_35{
    line-height: 35px;
}
.modal_x{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    display: none;
    cursor: pointer;
}
table td{position: relative}